BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: false
AlignAfterOpenBracket: DontAlign